<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <meta http-equiv="Content-Security-Policy" content="default-src 'self' http://closure-compiler.googlecode.com data:; font-src 'self' data:; img-src 'self' data:; style-src 'self' 'unsafe-inline' 'unsafe-eval' data:; script-src 'self' http://xxxx 'unsafe-inline' 'unsafe-eval' https://code.jquery.com https://cdnjs.cloudflare.com https://maxcdn.bootstrapcdn.com data:;">
</head>

<body>
  {{{body}}}
</body>

</html>