<!DOCTYPE html>
<html lang="en">

<head>
  <title>Pacer Transportation</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Bungee+Inline|Chathura:700" rel="stylesheet">
  <link href="../public/stylesheets/style.css" rel="stylesheet">

</head>

<body>
  <nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1" id="brandlogo">Pacer Transportation</span>
  </nav>
  <div class="container p-5">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2 class="text-center">Employee Login</h2>
        <form class="login">
          <div class="form-group">
            <label for="usernameInput">Username</label>
            <input type="text" class="form-control" id="email-input" placeholder="Username">
          </div>
          <div class="form-group">
            <label for="psInput">Password</label>
            <input type="password" class="form-control" id="password-input" placeholder="Password">
          </div>
          <button type="submit" class="btn btn-info">Login</button>
        </form>
        <br />
        <p class="text-center">New employee? Sign up <a href="/signup">here</a></p>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/login.js"></script>

</body>

</html>