<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/logout">
        Logout
      </a>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center">Welcome <span class="member-name"></span></h2>
      <br>
      <br>
      <p class="text-center">New employee? Sign them up <a href="/signup">here</a></p>
      <br>
      <br>
  </div>

{{!-- Tables --}}
  <div class="container">
    <div class="row">
      <div class="col-md-12">

      {{!-- Table for all inventory --}}
      <table class="table text-center table-hover">
      <h2 class="text-center">Current Inventory</h2>
        <thead class="thead-dark">
          <tr>
            <th scope="col">Product ID</th>
            <th scope="col">Quantity</th>
            <th scope="col">Range</th>
            <th scope="col">Finish</th>
            <th scope="col">Location</th>
            <th scope="col">Warehouse</th>
            <th scope="col">Material</th>
            <th scope="col">Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"></th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>

      <br><br>

      {{!-- Table for current orders --}}
      <table class="table text-center table-hover">
      <h2 class="text-center">Current Orders</h2>
        <thead class="thead-dark">
          <tr>
            <th scope="col">PO#</th>
            <th scope="col">Customer Name</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"></th>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>
  </div>



</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/members.js"></script>