{{!-- Navbar --}}
<nav class="navbar">
  <span class="navbar-brand" id="logo">PACER TMS</span>
  {{!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" class="form-control mr-sm-2" href="#">Logout <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div> --}}
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <form class="signup">
      <h2 class="text-center">New Employee Form</h2>
        <div class="form-group">
          <label for="newUsernameInput">Create a username for the new employee:</label>
          <input type="text" class="form-control" id="name-input" placeholder="Username">
          <small id="instruction">First two letters from FIRSTNAME and complete LASTNAME</small>
        </div>
        <div class="form-group">
          <label for="newPasswordInput">Create a password for the new employee:</label>
          <input type="password" class="form-control" id="password-input" placeholder="Password">
        </div>
        <div class="form-group">
          <label for="newEmployeeType">What type of employee are you adding:</label>
          <select class="form-control" id="dropdown-input" placeholder="EE Type">
            <option value=""></option>
            <option value="Manager">Manager</option>
            <option value="Clerk">Clerk</option>
            <option value="Forklift">Forklift</option>
          </select>
        </div>
        <div style="display: none" id="alert" class="alert alert-danger" role="alert">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span> <span class="msg"></span>
        </div>
        <hr>
        <button type="submit" class="btn btn-default">Sign Up</button>
      </form>
      <br />
      <p class="text-center">Already signed up? Log in <a href="/">here</a></p>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/signup.js"></script>