<<<<<<< HEAD
body {
  font-family: "Chathura", sans-serif;
  font-size: 20px;
}

a {
  color: #00B7FF;
=======
form.signup,
form.login {
  margin-top: 50px;
>>>>>>> master
}

#brandlogo {
  font-family: "Bungee Inline", cursive;
  font-size: 40px;
}